<table>
  <thead>
  <tr>
    <th width="150">Title</th>
    <th width="125">Category</th>
    <th width="300">Description</th>
    <th width="200">Author</th>
    <th colspan="3">Action</th>
  </tr>
  </thead>

  <tbody>
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><% if article.categories.any? %>
          <div><%= render article.categories %></div>
        <% end %></td>
      <td><%= article.description %></td>
      <td><% if article.user %>
          by <%= link_to article.user.username, user_path(article.user) %>
          <% end %></td>
      <td><%= link_to "Show", article_path(article) %></td>
      <% if logged_in? && (article.user == current_user || current_user.admin?) %>
        <td><%= link_to "Edit", edit_article_path(article) %></td>
        <td><%= link_to "Delete", article_path(article), data: { "turbo-method": :delete, "turbo-confirm": "Are you sure?" } %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>