<% if @category.errors.any? %>
  <h2>The following errors prevented the category from being saved</h2>
  <ul>
    <% @category.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with(model: @category,  data: { turbo: false }, local: true) do |f| %>

  <p>
    <%= f.label :name, "Category name" %><br/>
    <%= f.text_field :name, placeholder: "Enter a name of category" %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>